body {
	background-color: #1e1e1e;
	color: #c3c3c3;
	font-family: 'Roboto Mono', monospace;
	margin: 0;
	padding: 0;
}

.terminal {
	background-color: #1e1e1e;
	border: 1px solid #2f2f2f;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px #000;
	margin: 100px auto;
	max-width: 800px;
	padding: 20px;
}

.title-bar {
	background-color: #2f2f2f;
	border-radius: 10px 10px 0 0;
	height: 30px;
	line-height: 30px;
	margin: -20px -20px 20px;
	padding: 0 10px;
}

.title {
	color: #c3c3c3;
	display: inline-block;
	font-weight: bold;
	margin: 0;
}

.content {
	height: 400px;
	overflow-y: scroll;
	padding: 10px;
}

.command-line {
	margin-bottom: 10px;
}

.prompt {
	color: #00FF00;
}

.command {
	color: #c3c3c3;
}

.filename {
	color: #FF00FF;
}

.output {
	color: #c3c3c3;
	white-space: pre-wrap;
	word-wrap: break-word;
}
